@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    /*cores*/
    --color-green-50: #daf800;
    --color-green-100: #009665;
    --color-green-200: #005e7a;

    /*gradiente*/
    --color-gradient: linear-gradient(90deg, var(--color-green-50), var(--color-green-100), var(--color-green-200));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--color-gradient);
}

.container {
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: var(--color-green-100);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  /* margin-bottom: 1px; */
  width: calc(100% / 3 - 20px);
  display: flex;
  flex-direction: column;
}

form .input-box span.details {
  display: flexbox;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  /* border-color: var(--color-green-100); */
}

/* .user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: var(--color-green-100);
} */

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
 }

form .category {
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }

form .category label {
   display: flex;
   align-items: center;
   cursor: pointer;
 }

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three {
   background: var(--color-green-100);
   border-color: #d9d9d9;
 }

form input[type="radio"]{
   display: none;
 }

form .button {
   height: 45px;
   margin: 35px 0
 }

.button button {
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: var(--color-gradient);
 }

.button a {
    color: #fff;
    text-decoration: none;
 }

form .button input:hover {
  transform: scale(0.99);
  background: var(--color-gradient);
  }

form .policy {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}

form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
  }

form h3 a {
    text-decoration: none;
    color: var(--color-green-100)
  }

.input-box a {
    visibility: hidden;
}


 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  }
  @media(max-width: 459px) {
  .container .content .category{
    flex-direction: column;
  }
}

/* =====Validações error===== */

.input-box.error a {
    color: #ff3b25;
    visibility: visible;
}

.input-box.error input {
    border-color: #ff3b25;
    transition: all 0.3s ease;
}

.input-box.error a {
    color: #ff3b25;
} 